// Fonts
$font-main:'Inter', sans-serif;
$font-secondary: 'Manrope', sans-serif;
$font-price: 'Mulish', sans-serif;
$font-detail: 'Noto Sans', sans-serif;

// Colors
$primary: #1A5EFE;
$white: #fff;
$black: #000000;
$white-cream: #F0F4FF;
$white-bg: #F6F9FF;
$green: #4AB561;
$lgrey: #AEBAD4;
$grey: #12141D;
$text-primary: #051333;
$text-on-white: #464A55;
$text-secondary: #000D1D;

// Media
$tablet: 959px;
$mobile: 768px;